"""Tests for {{ plugin_name }} plugin."""
from __future__ import annotations

from {{ plugin_name.replace('-', '_') }} import {{ class_name }}


class Test{{ class_name }}:
    """Basic tests for {{ class_name }}."""

    def test_instantiation(self) -> None:
        plugin = {{ class_name }}()
        assert plugin is not None

    def test_name(self) -> None:
        plugin = {{ class_name }}()
        assert plugin.name == "{{ plugin_name }}"
{%- if name_property == "supported_languages" %}

    def test_supported_languages(self) -> None:
        plugin = {{ class_name }}()
        assert "en" in plugin.supported_languages
{%- elif name_property != "name" %}

    def test_{{ name_property }}(self) -> None:
        plugin = {{ class_name }}()
        assert plugin.{{ name_property }} == "{{ plugin_name }}"
{%- endif %}
